In [1]:
import pandas as pd
df = pd.read_csv('./train.csv')

In [2]:
agent=df['agent'].value_counts()
#for x in agent.index:
#    print(x)
#df['company'].value_counts()

In [3]:
# drop company
df.drop(['company', 'country', 'market_segment', 'distribution_channel'], axis=1, inplace=True)
# fill missing values with 0 in agent
df['agent'].fillna(0, inplace=True)
df['children'].fillna(0, inplace=True)
df['agent']
df.dtypes
# filling country

ID                                  int64
hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [4]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [ID, hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 29 columns]

In [5]:
#Prepare data ground truth and normalize the data
adr_val = df['adr'].to_numpy()
adr_mean, adr_std = adr_val.mean(), adr_val.std()
adr_normalized = (adr_val - adr_mean) / (adr_std)
#print(adr_mean, adr_std)
#print(adr_normalized.mean(), adr_normalized.std())
#print(adr_val.shape)
#prepare feature data
is_canceled = df['is_canceled'].to_numpy()

In [6]:
# arrival date month
from sklearn import preprocessing
#le_month = preprocessing.LabelEncoder()
#le_month.fit(df['arrival_date_month'].to_numpy())
#le_month.classes_
#df['arrival_date_month'] = le_month.transform(df['arrival_date_month'].to_numpy())
#df['arrival_date_month'].value_counts()
#arrival_date_month
month_dict = {'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'July':7, 'June':6, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}
df.replace({'arrival_date_month':month_dict}, inplace=True)
#df['arrival_date_month'].value_counts()

In [7]:
# hotel
le_hotel = preprocessing.LabelEncoder()
le_hotel.fit(df['hotel'].to_numpy())
le_hotel.classes_
df['hotel'] = le_hotel.transform(df['hotel'].to_numpy())
#df['hotel'].value_counts()

In [8]:
# meal
le_meal = preprocessing.LabelEncoder()
le_meal.fit(df['meal'].to_numpy())
le_meal.classes_
df['meal'] = le_meal.transform(df['meal'].to_numpy())
#df['meal'].value_counts()

In [9]:
#reserved_room_type, assigned_room_type
# 10, 12 ????
# use le_assigned to transform both reserved_room_type and assigned_room_type
le_assigned = preprocessing.LabelEncoder()
le_assigned.fit(df['assigned_room_type'].to_numpy())
#print(le_assigned.classes_)
#le_reserved = preprocessing.LabelEncoder()
#le_reserved.fit(df['reserved_room_type'].to_numpy())
#le_reserved.classes_
#reserved_room_type
df['reserved_room_type'] = le_assigned.transform(df['reserved_room_type'].to_numpy())
#print(df['reserved_room_type'].value_counts())
df['assigned_room_type'] = le_assigned.transform(df['assigned_room_type'].to_numpy())
#print(df['assigned_room_type'].value_counts())

In [10]:
#deposit_type 
le_de = preprocessing.LabelEncoder()
le_de.fit(df['deposit_type'].to_numpy())
le_de.classes_
df['deposit_type'] = le_de.transform(df['deposit_type'].to_numpy())
#df['deposit_type'].value_counts()

In [11]:
#customer_type
le_cus=preprocessing.LabelEncoder()
le_cus.fit(df['customer_type'].to_numpy())
le_cus.classes_
df['customer_type'] = le_cus.transform(df['customer_type'].to_numpy())
#df['customer_type'].value_counts()

In [12]:
#reservation_status
le_re=preprocessing.LabelEncoder()
le_re.fit(df['reservation_status'].to_numpy())
le_re.classes_
df['reservation_status'] = le_re.transform(df['reservation_status'].to_numpy())
#df['reservation_status'].value_counts()

In [13]:
#load testing data
df_test=pd.read_csv('./test.csv')

In [14]:
df_test.shape

(27859, 29)

In [15]:
df.dtypes

ID                                  int64
hotel                               int64
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                  int64
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                                int64
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                  int64
assigned_room_type                  int64
booking_changes                     int64
deposit_type                        int64
agent                             float64
days_in_waiting_list                int64
customer_type                       int64
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                  int64
reservation_status_date            object
dtype: object

In [16]:
df.dtypes.index

Index(['ID', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
len(df.dtypes)

29

In [18]:
#df.dtypes.index==df_test.dtypes.index

In [19]:
# prepare test feature
# month
#le_month
#df_test['arrival_date_month'] = le_month.transform(df_test['arrival_date_month'].to_numpy())
df_test.replace({'arrival_date_month':month_dict}, inplace=True)
# hotel
#le_hotel
df_test['hotel'] = le_hotel.transform(df_test['hotel'].to_numpy())
# meal
#le_meal
df_test['meal'] = le_meal.transform(df_test['meal'].to_numpy())
# market segment
#le_ms
#df_test['market_segment'] = le_ms.transform(df_test['market_segment'].to_numpy())
## distribution_channel 
#le_dc
#df_test['distribution_channel'] = le_dc.transform(df_test['distribution_channel'].to_numpy())
#reserved_room_type, assigned_room_type
#le_assigned
df_test['reserved_room_type'] = le_assigned.transform(df_test['reserved_room_type'].to_numpy())
df_test['assigned_room_type'] = le_assigned.transform(df_test['assigned_room_type'].to_numpy())
#deposit_type
#le_de
df_test['deposit_type'] = le_de.transform(df_test['deposit_type'].to_numpy())
#customer_type
#le_cus
df_test['customer_type'] = le_cus.transform(df_test['customer_type'].to_numpy())

In [20]:
#df_test['arrival_date_month'].value_counts()

In [21]:
df_test.head()

,ID,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests
0,91531,0,75,2017,4,13,1,2,5,2,...,3,3,0,0,9.0,NaN,0,2,0,1
1,91532,0,208,2017,4,13,1,4,10,2,...,0,0,0,0,9.0,NaN,0,2,0,1
2,91533,1,12,2017,4,13,1,2,5,2,...,0,0,0,0,40.0,NaN,0,0,0,1
3,91534,0,76,2017,4,13,1,2,5,3,...,3,3,0,0,9.0,NaN,0,2,0,0
4,91535,0,9,2017,4,13,1,2,4,2,...,5,5,0,0,9.0,NaN,0,2,0,0

In [22]:
# agent, deposit_type
df_test['agent'].fillna(0, inplace=True)
df_test['children'].fillna(0, inplace=True)

In [23]:
df_test[df_test.isna().any(axis=1)]

,ID,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests
0,91531,0,75,2017,4,13,1,2,5,2,...,3,3,0,0,9.0,NaN,0,2,0,1
1,91532,0,208,2017,4,13,1,4,10,2,...,0,0,0,0,9.0,NaN,0,2,0,1
2,91533,1,12,2017,4,13,1,2,5,2,...,0,0,0,0,40.0,NaN,0,0,0,1
3,91534,0,76,2017,4,13,1,2,5,3,...,3,3,0,0,9.0,NaN,0,2,0,0
4,91535,0,9,2017,4,13,1,2,4,2,...,5,5,0,0,9.0,NaN,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27853,119384,1,70,2017,8,35,31,0,3,2,...,3,3,0,0,240.0,NaN,0,2,0,1
27854,119385,1,108,2017,8,35,31,2,5,2,...,4,4,0,0,241.0,NaN,0,2,0,1
27855,119386,1,194,2017,8,35,31,2,5,2,...,6,6,3,0,240.0,NaN,0,2,1,1
27856,119387,1,17,2017,8,35,31,0,3,2,...,0,0,0,0,240.0,NaN,0,2,0,2
27857,119388,1,191,2017,8,35,31,2,5,2,...,3,3,0,0,40.0,NaN,0,0,0,0

In [24]:
# training data
# train_feature, adr_normalized, adr_mean, adr_std
# (91531, 26), (91531)
#print(train_feature[0], adr_normalized[0])
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
train_feature=df.drop(['ID', 'arrival_date_year','reservation_status_date', 'adr', 'reservation_status',\
                       'is_canceled', 'booking_changes', 'deposit_type',\
                       'days_in_waiting_list', 'arrival_date_day_of_month', \
                       'previous_cancellations', 'customer_type', 'adults', 'agent', \
                       'required_car_parking_spaces'],\
                       axis=1).to_numpy()
print(train_feature.shape)
X_train, X_test, y_train, y_test = train_test_split(train_feature, adr_val, test_size=0.01, random_state=13)
reg = GradientBoostingRegressor(random_state=0)
reg.fit(train_feature, adr_val)

(91531, 14)

GradientBoostingRegressor(random_state=0)

In [25]:
# train is_canceled classifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
is_canceled_feature = df.drop(['hotel','reserved_room_type', 'assigned_room_type', \
                               'ID', 'reservation_status_date', 'adr', 'reservation_status',\
                               'booking_changes', 'deposit_type', \
                               'days_in_waiting_list', 'reservation_status_date', \
                               'is_canceled', 'arrival_date_year', 'arrival_date_month',\
                               'arrival_date_week_number', 'arrival_date_day_of_month', \
                               'adults', 'children', 'babies', 'required_car_parking_spaces', \
                               'previous_bookings_not_canceled'], axis=1).to_numpy()
#print(df.dtypes)
#print(is_canceled_feature.dtypes)
#print(is_canceled_feature.shape)
#importance: customer, total_of_special_requests, previous_cancellations
X_train, X_test, y_train, y_test = train_test_split(is_canceled_feature, is_canceled, test_size=0.01, random_state=13)
is_cls=GradientBoostingClassifier()
is_cls.fit(X_train, y_train)
print(is_cls.score(X_test, y_test))

0.8187772925764192

In [26]:
#X_train.shape
#X_test.shape
X_train, X_test, y_train, y_test = train_test_split(train_feature, adr_val, test_size=0.01, random_state=13)
reg.predict(X_test[2:3])
#reg.score(X_train, y_train)

array([67.95446804])

In [27]:
# load training label
df[['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']]

       arrival_date_year  arrival_date_month  arrival_date_day_of_month
0                   2015                   7                          1
1                   2015                   7                          1
2                   2015                   7                          1
3                   2015                   7                          1
4                   2015                   7                          1
...                  ...                 ...                        ...
91526               2017                   3                         31
91527               2017                   3                         31
91528               2017                   3                         31
91529               2017                   3                         31
91530               2017                   3                         31

[91531 rows x 3 columns]

In [28]:
# train adr_normalized label
# prepare data
# stay_night = df['stays_in_weekend_nights'].to_numpy() + df['stays_in_week_nights'].to_numpy()
#df['adr_day'] = (df['stays_in_week_nights'].to_numpy() + df['stays_in_weekend_nights'].to_numpy()) * adr_val #no noramlized adr_val
#adr_day_df=df.groupby(['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'])['adr_day'].sum()

#print(df['adr_day'])
#print(stay_night.shape)
#print(stay_night[:10])

In [29]:
# load train label
label_df=pd.read_csv('./train_label.csv')
label_df.head()
label_df.shape
train_label=label_df['label'].to_numpy()
#train_label.shape

In [30]:
# inference with testing dataset
test_feature=df_test.drop(['booking_changes', 'deposit_type', 'days_in_waiting_list', \
                           'ID', 'company', 'country', 'market_segment',\
                           'arrival_date_year', 'distribution_channel', \
                           'arrival_date_day_of_month', \
                           'previous_cancellations', 'customer_type', \
                           'adults', 'agent', \
                           'required_car_parking_spaces'], axis=1).to_numpy()
predicted_adr=reg.predict(test_feature)
test_feature_is_canceled=df_test.drop(['hotel','reserved_room_type', 'assigned_room_type', \
                                       'ID','company', 'country', 'market_segment',\
                                       'booking_changes', 'deposit_type', \
                                       'days_in_waiting_list', 'distribution_channel',\
                                       'arrival_date_year', 'arrival_date_month',\
                                       'arrival_date_week_number', 'arrival_date_day_of_month', \
                                       'adults', 'children', 'babies', 'required_car_parking_spaces', \
                                       'previous_bookings_not_canceled'], axis=1).to_numpy()
#print(test_feature_is_canceled.dtypes)
predicted_canceled=is_cls.predict(test_feature_is_canceled)
df_test['adr_day']=predicted_adr * (df_test['stays_in_week_nights'].to_numpy() + df_test['stays_in_weekend_nights'].to_numpy())
df_test['is_canceled'] = predicted_canceled

In [31]:
df_notcanceled = df_test.drop(df_test[df_test['is_canceled'] == 1].index)

In [32]:
# group by
adr_day_df_test=df_notcanceled.groupby(['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'])['adr_day'].sum()

In [33]:
adr_day_df_test.values.mean()

44748.56282613014

In [34]:
predicted_revenue=adr_day_df_test.values

In [35]:
#adr_day_df.values.mean()

In [36]:
import numpy as np
predicted_label=[float(str(rev)[0]) for rev in predicted_revenue]
predicted_label=np.array(predicted_label)
predicted_label[:10]

array([3., 2., 4., 1., 3., 2., 2., 5., 4., 3.])

In [37]:
#Write label to csv file
test_no_label=pd.read_csv('./test_nolabel.csv')
test_no_label.head()
test_no_label['label'] = predicted_label
test_no_label.to_csv('./predicted_4.csv', index=False)